{% load static %}
<footer>
    <div class="footer">
      <div class="subscribe-box">
        <div class="container">
          <div class="subscribe">
            <div class="sub-headers">
            <p>Подписаться на рассылку</p>
            <p><span>Будьте в курсе акций и новостей</span></p>
            </div>
            <div class="sub-form">
              <input class="sub-text" type="email" name="" placeholder="E-mail">
              <input class="sub-btn" type="submit" name="" value="Подписаться">
            </div>
          </div>
        </div>
      </div>
      <div class="social">
        <div class="container">
          <ul>
            <li><a class="vk" href=""></a></li>
            <li><a class="yt" href=""></a></li>
          </ul>
        </div>
      </div>
      <div class="botmenu">
        <div class="container">
          <ul class="bot-col">
            <li class="bot-header"><a href="{% url 'store' %}">Продукция</a></li>
            <li><a href="{% url 'store' %}">Каталог</a></li>
          </ul>
          <ul class="bot-col">
            <li class="bot-header"><a href="">Inci Aku</a></li>
            <li><a href="">О нас</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
          <ul class="bot-col">
            <li class="bot-header"><a href="">Покупателям</a></li>
            <li><a href="">Доставка и оплата</a></li>
            <li><a href="">Гарантия и возврат</a></li>
            <li><a href="">Утилизация</a></li>
          </ul>
          <div class="bot-col-last">
          </div>
        </div>
      </div>
      <div class="bot">
        <div class="container">
        <img src={% static 'images/logo-text-en.svg' %}>
        <p>© Inci Aku 2023</p>
        </div>
      </div>
    </div>
    </footer>
