<div class="main-menu-box">
    <div class="main-menu">
      <ul class="nav">
        <li class="main-menu-li cat-btn active"><a class="dropdown-toggle main-menu-li-a" data-toggle="dropdown" href="#">Каталог</a>
          <ul class="dropdown-menu collapse my-drop-menu" role="menu">
              <li data-submenu-id="submenu-tyag">
                  <a href="#" class="maintainHover">Производители</a>
                  <div id="submenu-tyag" class="popover" style="display: block; top: -1px; left: 170px; height: 176px;">
                      <div class="popover-content">
                          <ul>
                          <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">MERCEDES-BENZ</a>
                          </li>
                          </div>
                          <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">AFA</a>
                          </li>
                          </div>
                          <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">AKBMAX</a>
                          </li>
                          </div>
                          <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">AlphaLINE</a>
                          </li>
                          </div>
                          <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">American</a>
                          </li>
                          </div>
                          <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">AutoPart</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Autous</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">BANNER</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Black Horse</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">BLIZZARO</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">BMW</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">BOSCH</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">BOST</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">BOZON</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">CENE</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">DEKA</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">DELKOR</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">DELTA</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">ECOSTART</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">EXIDE</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">EXIDE MOTO</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">FORD</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">FORSE</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">FURUKAWA BATTERY</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">GENTRY</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">GIVER</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Globatt</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">GM</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">HANKOOK</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">INCI AKU</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">JOKER</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">MAZDA</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">MEDALIST</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">MOLL</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">MUSHTANG</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">MUTLU</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">ODYSSEY</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">ONIKS</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">OPTIMA</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">REACTOR</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Red Energy</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">RENAULT</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">SIAP</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">SILVERSTAR</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">SOLITE</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">STARKSBAT</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">STORM</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">TAB</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">THOMAS</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Topla</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">TOYOTA</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Тяговые моноблоки TROJAN</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">ULTIMATUM</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">UNO</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">VAG</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">VAIPER</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">VARTA</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">VOLT</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">X-treme Nord</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">YUASA</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">ZUBR</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">АвтоФан</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">АКОМ</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">АКТЕХ</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Атака</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">ВОЖАК</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Промышленные АКБ ВОСТОК</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">ЗВЕРЬ</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Курский Аккумулятор</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">РУСБАТ</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Русская Звезда</a>
                          </li>
                        </div>
                        <div class="inline-pop-menu">
                          <li class="semi-head-pop-menu">
                            <a href="">Тюмень</a>
                          </li>
                        </div>
                        </ul>
                      </div>
                  </div>
              </li>
              <li data-submenu-id="submenu-type">
                  <a href="#" class="">По типу АКБ</a>

                  <div id="submenu-type" class="popover">
                      <div class="popover-content">
                        <ul>
                          <li><a href="">Автомобильные аккумуляторы</a></li>
                          <li><a href="">Промышленные АКБ</a></li>
                          <li><a href="">Тяговые АКБ</a></li>
                          <li><a href="">Тяговые моноблоки</a></li>
                        </ul>
                      </div>
                  </div>
              </li>
              <li data-submenu-id="submenu-naz">
                  <a href="#" class="">По назначению</a>
                  <div id="submenu-naz" class="popover">
                      <div class="popover-content">
                        <ul>
                          <li><a href="">Автомобильные аккумуляторы</a></li>
                          <li><a href="">Аккумуляторы для мототехники</a></li>
                          <li><a href="">Грузовые автомобили</a></li>
                          <li><a href="">Легковые авто</a></li>
                          <li><a href="">Мототехника</a></li>
                          <li><a href="">Лодочные аккумуляторы</a></li>
                          <li><a href="">Тяговые моноблоки</a></li>
                        </ul>
                      </div>
                  </div>
              </li>

          </ul>
        </li>
{#        <li class="main-menu-li"><a class="main-menu-li-a" href={% url 'store' %}>Каталог</a></li>#}

        {% for page in main_menu %}
        <li class="main-menu-li">
          <a class="main-menu-li-a" aria-current="page" href='/{{ page.url }}/'>{{ page.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
