<div id="my-menu-wrapper" class="my-menu-wrapper">
    <div id="dl-menu" class="dl-menuwrapper">
    <button class="dl-trigger" id="trig">
    </button>
  <div class="top-phone-m">
{#    <a href="#">+7(495) 105-92-42</a>#}
  </div>
    <div class="menu-icon">
    <div id="hamburger" class="navigation-bar">
      <input id="navigation-checkbox" class="navigation-checkbox" type="checkbox">
      <label class="navigation-toggle" for="navigation-checkbox">
        <span class="navigation-toggle-icon"></span>
      </label>
    </div>
    </div>

    <ul class="dl-menu">
{#      <li>#}
{#        <a href="#">Аккумуляторы</a>#}
{#        <ul class="dl-submenu">#}
{#            <li>#}
{#                <a href="#">Производители</a>#}
{#                <ul class="dl-submenu">#}
{#                  <li><a href="#">Bosch</a></li>#}
{#                  <li><a href="#">Varta</a></li>#}
{#                </ul>#}
{#              </li>#}
{#            <li>#}
{#            <a href="#">По типу</a>#}
{#            <ul class="dl-submenu">#}
{#              <li><a href="#">Легковые</a></li>#}
{#              <li><a href="#">Грузовые</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <li>#}
{#            <a href="#">По технологии</a>#}
{#            <ul class="dl-submenu">#}
{#              <li><a href="#">Свинцово-кислотные</a></li>#}
{#              <li><a href="#">Литий-ионные</a></li>#}
{#              <li><a href="#">Гелевые</a></li>#}
{#              <li><a href="#">AGM</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <li>#}
{#            <a href="#">По напряжению</a>#}
{#            <ul class="dl-submenu">#}
{#              <li><a href="#">12V</a></li>#}
{#              <li><a href="#">18V</a></li>#}
{#              <li><a href="#">24V</a></li>#}
{#              <li><a href="#">36V</a></li>#}
{#              <li><a href="#">40V</a></li>#}
{#              <li><a href="#">48V</a></li>#}
{#              <li><a href="#">72V</a></li>#}
{#              <li><a href="#">80V</a></li>#}
{#              <li><a href="#">96V</a></li>#}
{#              <li><a href="#">120V</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <li>#}
{#            <a href="#">По назначению</a>#}
{#            <ul class="dl-submenu">#}
{#              <li><a href="#">Легковые автомобили</a></li>#}
{#              <li><a href="#">Грузовые автомобили</a></li>#}
{#              <li><a href="#">Лодки</a></li>#}
{#              <li><a href="#">Мототехника</a></li>#}
{#              <li><a href="#">ИБП</a></li>#}
{#            </ul>#}
{#          </li>#}
{#        </ul>#}
{#      </li>#}
        {% for page in main_menu %}
      <li>
        <a title="{{ page.name }}" href='/{{ page.url }}/'>{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div><!-- /dl-menuwrapper -->
</div>
