{% extends 'store/index.html' %}
{% load static %}
{% block content %}

        <div class="cat-top">
            <div class="bread">
              <ul class="breadul">
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'store' %}">Каталог</a></li>
                <li>Автомобильные аккумуляторы</li>
              </ul>
            </div>
        </div>

        <div class="card-box">
          <div class="card-content">
            <div class="top-card">
              <div class="container">
                <div class="t-card-head">
                  <h1>Автомобильный аккумулятор {{ product.brand }} {{ product.name }} {{ product.technology|default:"" }}</h1>
                  <div class="card-brand">
                    <img src={% static 'images/logo-text-en.svg' %}>
                  </div>
                  <div class="art"><span>{{ product.art_code }}</span></div>
                </div>
                <div class="card-tags-box">
                  <ul class="card-tags">
                    <li class="card-tag green-tag"><span>Скидка по утилизации</span></li>
{#                    <li class="card-tag"><span>Доставка по Мск 0р.</span></li>#}
                  </ul>
                </div>
                <div class="t-c-good">
                  <div class="t-c-cont-l">
                    <div class="card-big-img">
                      <img src="{{ product.photoURL }}">
                    </div>
                  </div>
                  <div class="t-c-cont-r">
                    <div class="card-price-box">
                      <div class="card-price">
                        <div class="c-price"><span>{{ product.price|floatformat:"0" }}</span> р.</div>
{#                        <div class="c-sale">−5%</div>#}
                          {% if product.old_price %}
                        <div class="c-old-price"><span>{{ product.old_price }}</span> р.</div>
                          {% endif %}
{#                        <div class="deshevle"><a data-toggle="modal" data-target="#myPetition" href="">Нашли дешевле?</a></div>#}
                      </div>
                      <div class="c-btns">
                        <div class="good-btn-a-box">
                        <button data-product="{{ product.id }}" data-action="add" class="add-btn update-cart good-btn">В корзину</button>
                        </div>
                        <div class="oneclick-box">
                          <div class="oneclick-btn"><a data-toggle="modal" data-target="#myCallback" href="">Заказать по телефону</a></div>
                        </div>
                      </div>
                      <div class="c-util-box">
                        <div class="c-util">
                          <div class="c-util-h">♻ Утилизация</div>
                          <div class="utilsum">Скидка до <span>1800р./шт</span> при сдаче старого на&nbsp;переработку</div>
                        </div>
                      </div>
                    </div>
                      <div class="c-deliv-box">
                        <div class="c-deliv">
                          <div class="c-deliv-h">🚚 Доставка</div>
                          <div class="instock">В наличии</div>
                            <div class="deliv-time"><span>300</span>₽. В день заказа (при заказе до 17:00)</div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tech-spec-box">
              <div class="tech-spec">
                <div class="container">
                  <div class="tech-spec-table">
                    <p class="tech-spec-h">Характеристики</p>
                    <table>
                      <tr>
                        <td class="spec-title">Технология</td>
                        <td>{{ product.technology }}</td>
                      </tr>
                      <tr>
                        <td class="spec-title">Емкость, Ач</td>
                        <td>{{ product.capacity }}</td>
                      </tr>
                      <tr>
                        <td class="spec-title">Напряжение, В</td>
                        <td>{{ product.voltage }}</td>
                      </tr>
                      <tr>
                        <td class="spec-title">Вес, кг</td>
                        <td>{{ product.weight}}</td>
                      </tr>
                      <tr>
                        <td class="spec-title">Страна производитель</td>
                        <td>Турция</td>
                      </tr>
                        <td class="spec-title">Габариты, мм</td>
                        <td>{{ product.length }}x{{ product.width }}x{{ product.height }}</td>
                      </tr>
                      <tr>
                        <td class="spec-title">Ток холодной прокрутки, А</td>
                        <td>{{ product.cranking_amperage }}</td>
                      </tr>
                      <tr>
                        <td class="spec-title">Гарантия производителя, мес</td>
                        <td>{{ product.warranty}}</td>
                      </tr>
                      <tr>
                        <td class="spec-title">Тип АКБ</td>
                        <td>Необслуживаемый</td>
                      </tr>
                    </table>
                  </div>
                  <div class="card-comment">
                    <p class="tech-spec-h">Комментарий</p>
                    <p>Цена не учитывает скидку при обмене старых на новые АКБ. В зависимости от количества приобретаемых и сдаваемых на утилизацию аккумуляторов, менеджер согласует индивидуальную итоговую стоимость для вас.</p>
                  </div>
                </div>
              </div>
              <div class="tech-description">
                <div class="container">
                  <p class="tech-spec-h">Описание</p>

                  <div class="tech-description-text">
                    <p>Серия Старт-Стоп AGM от Инджи Акю, одна из высокотехнологичных продуктов, разработанных "Inci GS Yuasa" на собственном заводе, разработана для автомобилей с системой Старт-Стоп высшего сегмента с рекуперативным торможением, обладает уникальными характеристиками, долговечностью и высоким уровнем приема заряда.</p>
                  </div>
                </div>
              </div>
            </div>
{#            @@include('./html/questions.html', {'text': 'Odyssey 31-PC2150 12V 100Ah'})#}
          </div>
        </div>

{% endblock content %}
