{% extends 'store/index.html' %}
{% load static %}
{% block content %}

        <div class="cat-top">
            <div class="bread">
              <ul class="breadul">
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'store' %}">Каталог</a></li>
                <li>Автомобильные аккумуляторы</li>
              </ul>
            </div>
        </div>

        <div class="cat-box">
            <div class="cat-content">
              <div class="r-container">
                  <h1>Автомобильные аккумуляторы</h1>

                    <div class="goods-box">
                      <div class="filter-btn-box">
                        <button class="filter-btn"><span>⚭</span> Фильтры</button>
                      </div>
{#                      <div class="sort-big">#}
{#                        <div class="sort-b-box">#}
{#                          <div class="sort-line">#}
{#                            <span>Сортировка</span>#}
{#                            <a class="s-sel" href="">Цена по убыванию</a>#}
{#                            <a href="">Цена по возрастанию</a>#}
{#                            <a href="">По популярности</a>#}
{#                            <a href="">Новинки</a>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
                <div class="goods-inner-box">
                {% for product in products %}
                    <div class="good-box">
                        <div class="good">
                          <div class="good-img">
                            <a href="/store/{{product.id}}/"><img src="{% static product.photoURL %}"></a>
                          </div>
                          <div class="good-title"><a href="/store/{{product.id}}/">{{ product.name }} {{ product.technology|default:"" }}</a></div>
                          <div class="good-params">
                              {% if product.polarity %}
                            <div class="good-param">
                              <p>Полярность: <span>{{ product.get_polarity_display }}</span></p>
                            </div>
                              {% endif %}
                          {% if product.capacity %}
                            <div class="good-param">
                              <p>Емкость, Ач: <span>{{ product.capacity }}</span></p>
                            </div>
                          {% endif %}
                          {% if product.cranking_amperage %}
                            <div class="good-param">
                              <p>Пусковой ток, А: <span>{{ product.cranking_amperage }}</span></p>
                            </div>
                          {% endif %}
                          {% if product.length and product.width and product.height %}
                            <div class="good-param">
                              <p>Габариты, мм: <span>{{ product.length }}x{{ product.width }}x{{ product.height }}</span></p>
                            </div>
                          {% endif %}
                          </div>
                          <div class="good-price-box">
                            <div class="good-price">{{ product.price|floatformat:"0" }} р.</div>
                            {% if product.old_price %}
                              <div class="good-old-price">{{ product.old_price|floatformat:"0" }} р.</div>
                            {% endif %}
                            {% if product.id in items %}
                                <p>{{ items }}</p>
                            {% endif %}
                          </div>
                        {% if product.id in items_ids %}
                          <a class="good-btn-a good-btn-order" href="/cart/">
                            <div class="good-btn">В корзине</div>
                          </a>
                          <a href="/cart/"></a>
                        {% else %}
                          <button data-product="{{ product.id }}" data-action="add" class="good-btn update-cart">В корзину</button>
                          <a href=""></a>
                        {% endif %}

                        </div>
                      </div>
                {% endfor %}
                </div>
{#                      <div class="pages-box">#}
{#                            <div class="pages">#}
{#                              <ul>#}
{#                                <li class="pages-f-b"><a href="">Назад</a></li>#}
{#                                <li class="p-num"><a href="">1</a></li>#}
{#                                <li class="act-page"><a href="">2</a></li>#}
{#                                <li class="page-points">...</li>#}
{#                                <li class="p-num"><a href="">10</a></li>#}
{#                                <li class="pages-f-b"><a href="">Вперед</a></li>#}
{#                              </ul>#}
{#                            </div>#}
{#                        </div>#}

                      </div>
              </div>
              <div class="left-nav-box">
                <div class="left-nav">
                  <div class="filt-top"><span>Фильтры</span></div>
{#                  <div class="filt-sec">#}
{#                    <div class="filt-semi">Категории</div>#}
{#                    <div class="filt-back"><span><</span><a href="">Типы аккумуляторов</a></div>#}
{#                    <div class="filt-back"><span><</span><a href="">Стационарные</a></div>#}
{#                    <div class="filt-l">#}
{#                      <a class="filt-l-cur" href="">Герметизированные</a>#}
{#                    </div>#}
{#                  </div>#}

                <form id="filter-form" method="GET" action=".">
                  <div class="filt-sec">
                    <div class="filt-semi">Полярность</div>

                    <div class="filt-checks">
                      <div class="check-cont">
                        <div class="check-box">
                          {% for key, value in filter_polarities %}
                          <div class="check">
                            <label>
                              <input type="checkbox" name="polarity" value="{{ key }}">
                              <div class="check-point"></div>
                              <div class="check-text">{{ value }}</div>
                            </label>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="filt-sec">
                    <div class="filt-semi">Емкость, А·ч</div>
                    <div class="pol-sec">
                      <div class="p-s p-s-l">
                        <div class="psp"></div>
                      </div>
                      <div class="p-s p-s-r">
                        <div class="psp"></div>
                      </div>
                      <div class="p-line"></div>
                      <div class="p-line p-line-c"></div>
                    </div>
                    <div class="pol-fills">
                      <div class="p-f-box">
                        <input type="text" name="capacity-from" class="p-f-fill-text" value="0">
                      </div>
                      <div class="fill-to">до</div>
                      <div class="p-f-box">
                        <input type="text" name="capacity-to" class="p-f-fill-text" value="300">
                      </div>
                    </div>
                  </div>
{#                    <div class="filt-sec">#}
{#                    <div class="filt-semi">Цена</div>#}
{#                    <div class="pol-sec">#}
{#                      <div class="p-s p-s-l">#}
{#                        <div class="psp"></div>#}
{#                      </div>#}
{#                      <div class="p-s p-s-r">#}
{#                        <div class="psp"></div>#}
{#                      </div>#}
{#                      <div class="p-line"></div>#}
{#                      <div class="p-line p-line-c"></div>#}
{#                    </div>#}
{#                    <div class="pol-fills">#}
{#                      <div class="p-f-box">#}
{#                        <input type="text" class="p-f-fill-text" value="1">#}
{#                      </div>#}
{#                      <div class="fill-to">до</div>#}
{#                      <div class="p-f-box">#}
{#                        <input type="text" class="p-f-fill-text" value="4000">#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="filt-sec">#}
{#                    <div class="filt-semi">Пусковой ток, А</div>#}
{#                    <div class="pol-sec">#}
{#                      <div class="p-s p-s-l">#}
{#                        <div class="psp"></div>#}
{#                      </div>#}
{#                      <div class="p-s p-s-r">#}
{#                        <div class="psp"></div>#}
{#                      </div>#}
{#                      <div class="p-line"></div>#}
{#                      <div class="p-line p-line-c"></div>#}
{#                    </div>#}
{#                    <div class="pol-fills">#}
{#                      <div class="p-f-box">#}
{#                        <input type="text" class="p-f-fill-text" value="1">#}
{#                      </div>#}
{#                      <div class="fill-to">до</div>#}
{#                      <div class="p-f-box">#}
{#                        <input type="text" class="p-f-fill-text" value="4000">#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
                </form>


                </div>
              </div>

            </div>
{#            <div class="clearfix"></div>#}
{#                @@include('./html/questions.html', {'text': ''})#}
{#                @@include('./html/popular-box.html', {"title": "Вы смотрели"})#}
            </div>
    <script src="{% static 'js/filters.js' %}" type="text/javascript"></script>
{% endblock content %}
