body {
    background-color: #fff;
}

.cart-img {
    width: 30px;
    height: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px white solid;
    background-color: #fff;
}

.product:hover {
    border: 1px silver solid;
}

.product a {
    display: block;
}

.good-image-box {
    max-height: 260px;
}

.product-thumbnail {
    width: 100%;
    height: auto;
}

.add-btn {

}

/* CART */

.cart-goods {

}
.cart-good-box {

}
.cart-good {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}
.cart-good-img {
    width: 80px;
    height: 80px;
}
.cart-good-img img {
    max-width: 100%;
    height: auto;
}

.cart-good-title {

}
.cart-good-price {

}

.cart-good-q {

}

.cart-good-q input {
    max-width: 50px;
}

.checkout-summary {
    width: 40%;
}

.cart-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.checkout .cart-good {

}

.checkout-summary{
    padding: 0 20px;
}

.checkout-summary .cart-good div {
    padding: 10px;
}
